.navbar-brand {
  white-space: nowrap;
  text-align: center;
  word-break: keep-all;
}

a {
  color: #17a2b8; /* Turkuaz mavi renk */
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #f8c146; /* Altın sarısı renk */
}

.btn-primary {
  color: #ffffff;
  background-color: #28a745; /* Yeşil renk */
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #007bff; /* Parlak mavi renk */
}

.border-top {
  border-top: 3px solid #dee2e6; /* Açık gri renk */
}

.border-bottom {
  border-bottom: 3px solid #dee2e6; /* Açık gri renk */
}

.box-shadow {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

button.accept-policy {
  background-color: transparent;
  border: 2px solid #ffc107; /* Sarı renk */
  color: #ffc107;
  padding: 0.375rem 0.75rem;
  transition: all 0.3s ease;
}

button.accept-policy:hover {
  background-color: #ffc107;
  color: #333;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #343a40; /* Koyu gri renk */
  color: #ffffff;
  text-align: center;
  padding: 0.5rem 0;
}
