/* Navbar markası için stil tanımlamaları */
.navbar-brand[b-6ter5pw8ix] {
  white-space: nowrap; /* Uzun isimler için satır atlamaz */
  text-align: center; /* Metni merkeze alır */
  word-break: keep-all; /* Kelimelerin kırılmasını önler */
}

/* Bağlantılar için genel stil ayarlamaları */
a[b-6ter5pw8ix] {
  color: #0056b3; /* Daha koyu mavi renk tonu */
  transition: color 0.3s ease-in-out; /* Renk değişimi için animasyon */
}

/* Birincil butonlar için stil tanımlamaları */
.btn-primary[b-6ter5pw8ix] {
  color: #ffffff; /* Metin rengi beyaz */
  background-color: #007bff; /* Parlak mavi renk */
  border-color: #0069d9; /* Sınır için biraz daha koyu mavi ton */
  transition: background-color 0.3s ease-in-out; /* Arka plan rengi değişimi için animasyon */
}

/* Aktif nav linkleri için özel stiller */
.nav-pills .nav-link.active[b-6ter5pw8ix], .nav-pills .show > .nav-link[b-6ter5pw8ix] {
  color: #fff; /* Metin rengi beyaz */
  background-color: #28a745; /* Yeşil renk */
  border-color: #218838; /* Sınır rengi, yeşilin bir ton koyusu */
}

/* Üst ve alt sınırlar için stil tanımlamaları */
.border-top[b-6ter5pw8ix] {
  border-top: 3px solid #dee2e6; /* Açık gri renk */
}
.border-bottom[b-6ter5pw8ix] {
  border-bottom: 3px solid #dee2e6; /* Açık gri renk */
}

/* Kutu gölgesi efekti için stil */
.box-shadow[b-6ter5pw8ix] {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); /* Daha belirgin bir gölge efekti */
}

/* Gizlilik politikası kabul butonu için stil */
button.accept-policy[b-6ter5pw8ix] {
  font-size: 1.25rem; /* Yazı boyutu daha büyük */
  line-height: 1.5; /* Satır yüksekliği */
  color: #17a2b8; /* Turkuaz mavi metin rengi */
  background-color: transparent; /* Arka plan rengi şeffaf */
  border: 2px solid #17a2b8; /* Turkuaz mavi çerçeve */
  padding: 0.375rem 0.75rem; /* İç boşluk */
  transition: all 0.3s ease; /* Tüm geçişler için yumuşak animasyon */
}

/* Footer için genel stil ayarlamaları */
.footer[b-6ter5pw8ix] {
  position: fixed; /* Sabit konum */
  bottom: 0; /* Altta */
  width: 100%; /* Genişlik tam sayfa */
  background-color: #343a40; /* Koyu gri arka plan */
  color: #ffffff; /* Beyaz metin */
  text-align: center; /* Metni ortala */
  line-height: 60px; /* Satır yüksekliği */
  padding: 0.5rem 0; /* Üst ve alttan boşluk */
}
